*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen';
    scroll-behavior: smooth;
}


:root{
--bs-blue: #0d6efd;
--bs-indigo: #6610f2;
--bs-purple: #6f42c1;
--bs-pink: #d63384;
--bs-red: #dc3545;
--bs-orange: #fd7e14;
--bs-yellow: #ffc107;
--bs-green: #198754;
--bs-teal: #20c997;
--bs-cyan: #0dcaf0;
--bs-white: #fff;
--bs-gray: #6c757d;
--bs-gray-dark: #343a40;
--bs-gray-100: #f8f9fa;
--bs-gray-200: #e9ecef;
--bs-gray-300: #dee2e6;
--bs-gray-400: #ced4da;
--bs-gray-500: #adb5bd;
--bs-gray-600: #6c757d;
--bs-gray-700: #495057;
--bs-gray-800: #343a40;
--bs-gray-900: #212529;
--bs-primary: #0d6efd;
--bs-secondary: #6c757d;
--bs-success: #198754;
--bs-info: #0dcaf0;
--bs-warning: #ffc107;
--bs-danger: #dc3545;
--bs-light: #f8f9fa;
--bs-dark: #212529;
}

.header{
    background-color: var(--bs-dark);
    height: 100vh;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    width: 100%;
}

.logo a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 0.6px;
}

.logo span{
    color: var(--bs-danger);
}

.navbar ul li{
    display: inline-block;
    list-style: none;
}

.navbar ul li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 10px;
}

.navbar ul li a:hover{
    color: var(--bs-danger);
}

.container-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    width: 55%; 
}

.container-list .icon-navbar i{
    color: #fff;
    font-size: 20px;
    margin-left: 130px;
    cursor: pointer;
}

.container-list .icon-navbar i:hover{
    color: var(--bs-danger);
}

.container-list .search  input{
    padding: 6.1px 7px;
    width: 219px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.container-list .search{
    display: flex;
    align-items: center;
}

.container-list .search .btn{
    padding: 0px 12px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    background-color: var(--bs-danger);
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    height: 30px;
    width: 75px;
}

.container-list .search .btn:hover{
    background-color: #bb2e3c;
}

.container-list .search:focus{
    outline: none;
    border: none;
}

.container-list .search input:focus{
    border: none;
    outline: none;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-top: 120px;
    margin: auto;
}

.img-title img{
    width: 90%;
}

.title h4{
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.title span{
    color: var(--bs-danger);
    text-transform: uppercase;
}

.title h1{
    color: rgba(216, 216, 216, 0.836);
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.title p{
    font-size: 18px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.603);
    letter-spacing: 1px;
    width: 75%;
    text-align: left;
    margin-bottom: 15px;
}

.title button{
    background-color: var(--bs-danger);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 0px;
    width: 15%;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: capitalize;
    cursor: pointer;
}

.title button:hover{
    background-color: #dc3546bd;
}